go 1.26.1

use (
	.
	./devtools
	./cmd/toolbox
	./cmd/toolbox-pack
)

replace github.com/solidarity-ai/toolbox v0.0.0-20260321144313-a0f540464d2c => .

replace github.com/microsoft/typescript-go => github.com/mackross/typescript-go v0.0.0-20260402134142-59e419fd85c3
