go 1.26.1

use (
	.
	./devtools
	./cmd/toolbox
	./cmd/toolbox-pack
)

replace github.com/solidarity-ai/toolbox v0.0.0-20260321144313-a0f540464d2c => .

replace github.com/fastschema/qjs => github.com/mackross/qjs v0.0.7-0.20260409233706-931ab4cd91ce

replace github.com/microsoft/typescript-go => github.com/mackross/typescript-go v0.0.0-20260411003622-6a0db70e7185
