go 1.26.1

use (
	.
	./devtools
	./cmd/toolbox
	./cmd/toolbox-pack
)

replace (
	github.com/solidarity-ai/toolbox v0.0.0-20260321144313-a0f540464d2c => .
	github.com/microsoft/typescript-go => ../../../dev/vendor/typescript-go
)
